@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-Regular.ttf") format("truetype"),
       url("/fonts/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype"),
       url("/fonts/Manrope-Bold.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
