.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.wrapper {
  display: flex;
  width: calc(300%); /* Ensure enough width for all sections */
  height: 100%; /* Match the height of the .inner container */
  position: absolute;
  animation: swipe var(--speed) linear infinite;
}

.section {
  display: flex;
  width: 100%;
  height: 100%;
}

.image {
  flex: 0 0 auto; /* Prevent shrinking or growing */
  width: 300px; /* Set width for each image */
  height: 100%;
  margin-right: 16px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain image aspect ratio */
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
